* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #222222;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: #34A5DA;
  display: flex;
  padding: 10px;
}

#title-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.person-container {
  background-color: #EBEBEB;
  height: 40vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 70px auto;
}

.person-detail {
  width: 95%;
  padding-top: 10px;
  padding-left: 55px;
}

#id {
  display: flex;
  justify-content: flex-end;
}

#name {
  text-decoration: underline;
  text-decoration-color: #69B8DE;
}

#previous-person {
  color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 120px;
}

#next-person {
  color: white;
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
}

