* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #222222;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: #34A5DA;
  display: flex;
  padding: 10px;
}

#title-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.person-container {
  background-color: #EBEBEB;
  height: 40vh;
  width: 85%;
  display: flex;
  margin: 70px auto;
}

.person-detail {
  width: 30%;
  padding-top: 10px;
  padding-left: 20px;
}

.person-list {
  width: 40%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

